<form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search" name='search'>
    <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search the web" name='query' id="search_query"><button class="btn btn-primary py-0"  id='search_web'  type="button"><i class="fas fa-search"></i></button></div>
</form>