<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - UniTab</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap1.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro&amp;display=swap">
    <link rel="stylesheet" href="/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/css/vanilla-zoom.min.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="text-align: center;">
    <div class="container" style="display: block;align-items: center;text-align: center;width: 100%;"><a
                class="navbar-brand logo" href="#" style="display: inline-block;margin-right: 0;"><img style=""
                                                                                                       height="80px"
                                                                                                       width="80px"
                                                                                                       src="/img/logo.png"></a>
    </div>
</nav>
<main class="page landing-page">
    <section class="clean-block clean-hero"
             style="background-image:url(&quot;/img/tech/image4.jpg&quot;);color:rgba(9, 162, 255, 0.85);">
        <div class="text">
            <h2 style="font-weight: bold;font-family: ABeeZee, sans-serif;font-size: 79;color: var(--bs-body-bg);">Uni
                Tab</h2>
            <p>A single tab for multiple uses.<br>Login or Register to proceed.</p>
            <div><a href="/login">
                    <button class="btn btn-outline-light btn-lg" type="button" style="margin: 0;">Login</button>
                </a>
                <div style="margin: 20px;"></div>
                <a href="/registration"><button class="btn btn-outline-light btn-lg" type="button" style="margin: 0;">Register</button>
                </a>
            </div>
        </div>
    </section>
</main>
<script src="/bootstrap/js/bootstrap1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/js/vanilla-zoom.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>