<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>News</title>
    <%- include('../partials/header_common') %>

</head>

<body id="page-top">
<div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-0"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-text mx-3"><img style="padding: 10px" height="80px" width="80px" src="/img/logo.png"></div>
            </a>
            <hr class="sidebar-divider my-0">
            <ul class="navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item"><a class="nav-link" href="index"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="profile"><i class="fas fa-user"></i><span>Profile</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="tasks"><i class="fas fa-table"></i><span>Tasks</span></a>
                </li>
                <li class="nav-item"><a class="nav-link active" href="news"><i
                                class="far fa-user-circle"></i><span>News</span></a></li>
                <li class="nav-item"><a class="nav-link" href="weather"><i class="bi bi-cloud"></i><span>Weather</span></a>
                </li>
            </ul>
            <div class="text-center d-none d-md-inline">
                <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
            </div>
        </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper" style="overflow-y: hidden">
        <div id="content" style="height: 100%;width: 100%;">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid">
                    <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i
                                class="fas fa-bars"></i></button>
                    <h3 class="text-dark mb-0">News </h3>

                    <%- include('../partials/search_partial') %>

                </div>
                <div style="margin-right: 50px">
                    <span id='ct6' style="white-space: nowrap; font-size: 20px"></span>
                </div>
            </nav>
            <div class="container" style="overflow-y: hidden; ">
                <a style="margin-left: 15px" href="#" id='refresh_news' class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-refresh"></span> Refresh <i class="bi bi-arrow-clockwise"></i>
                </a>
                <%- include('../partials/news_card', {resp:resp}) %>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
            </div>
        </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/common_all.js"></script>
<script src="/js/news.js"></script>
<script src="/js/search.js"></script>

</body>

</html>